@using AdBoard.WebUI.Models
@using AdBoard.WebUI.HtmlHelpers
@model AdListViewModel

@{
    ViewBag.Title = "Ads";
}
<div class="page-header">
    <h2>Ads</h2>
</div>
@foreach (var p in @Model.Ads)
{
    @Html.Partial("AdSummary", p);
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory}))
</div>